/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@font-face {
  font-family: 'UniFont';
  src: url('chrome://branding/content/opposans.ttf');
  font-weight: normal;
  font-style: normal;
}

#aboutDialogContainer {
  background-image: url("chrome://branding/content/about-background.png");
  background-repeat: no-repeat;
  background-color: rgb(10,17,37);
  color: #000000;
  font-family: 'UniFont', sans-serif;
}

.text-link {
  color: #00434d !important;
  text-decoration: underline;
  font-family: 'UniFont', sans-serif;
}

#rightBox {
  /* this margin prevents text from overlapping the planet image */
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'UniFont', sans-serif;
}

#bottomBox {
  background-color: rgba(255, 255, 255, 0.7);
  font-family: 'UniFont', sans-serif;
}